body {
  font-family: Arial, sans-serif;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.login-container {
  border: 1px solid #222;
  padding: 40px 30px;
  text-align: center;
  width: 350px;
}

.logo {
  font-family: Georgia;
  font-size: 38px;
  margin-bottom: 30px;
  font-style: italic;
}

.login-container input {
  width: 85%;
  padding: 12px;
  margin: 4px 0;
  border: 1px solid #333;
  border-radius: 3px;
  background: #111;
  color: white;
  outline: none;
}

.login-container input::placeholder {
  color: #888;
}

.btn {
  width: 92%;
  padding: 12px;
  background: blue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #2a76c3;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px;
  color: #aaa;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #333;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}
.divider:not(:empty)::after {
  margin-left: 10px;
}

.facebook-login {
  display: block;
  margin: 10px 0;
  color: #3897f0;
  font-weight: bold;
  text-decoration: none;
}

.facebook-login:hover {
  text-decoration: underline;
}

.forgot {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #3897f0;
  text-decoration: none;
}

.signup-box {
  margin-top: 15px;
  border: 1px solid #222;
  padding: 20px;
  width: 372px;
  text-align: center;
}

.signup-box a {
  color: #3897f0;
  font-weight: bold;
  text-decoration: none;
}

.signup-box a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  font-size: 12px;
  color: #777;
}

/* .login-container:hover {
  border: 2px solid red; 
  transition: all 0.3s ease;
}

.login-container:hover input {
  border: 2px solid red; 
} */

/* Autofill fix for dark mode */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #111 inset !important; 
  -webkit-text-fill-color: white !important; 
  transition: background-color 5000s ease-in-out 0s; 
}


/* Optional: change placeholder color slightly on hover */
/* .login-container:hover input::placeholder {
  color: #ff6666; 
} */
