body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  padding: 30px;
  text-align: center;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  border: 1px solid #222;
  border-radius: 5px;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 20px;
  font-family: Georgia;
  font-style: italic;
  background: linear-gradient(45deg, #3897f0, #8e44ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input, select {
  width: 93%;
  padding: 12px;
  margin: 4px 0;
  border: 1px solid #333;
  background: #111;
  color: #fff;
  border-radius: 0;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: none;
  border-color: #3897f0;
  box-shadow: 0 0 0 3px rgba(56,151,240,0.2);
}

.btn {
  width: 100%;
  background: blue;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.btn:hover {
  background: #2980b9;
}

.divider {
  margin: 20px 0;
  position: relative;
  font-size: 14px;
  color: #999;
}

.divider span {
  background: #111;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #333;
  z-index: 0;
}

.login-link {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #666;
}

p {
  color: #fff;
}

.login-link {
  color: #3897f0;
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #111 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* EYE TOGGLE STYLES */
.pass-wrapper {
  position: relative;
  width: 85%;
  margin: 4px 1px;
}

.pass-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  /* border: 1px solid #333; */
  background: #111;
  color: #fff;
  border-radius: 0;
  outline: none;
}

.eye-icon {
  position: absolute;
  right: -33px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

.eye-icon:hover {
  color: #3897f0;
}