body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000; /* Black background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  padding: 30px;
  text-align: center;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  border: 1px solid #222;
  border-radius: 5px;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  color: #ffff;
  margin-bottom: 20px;
  font-family: Georgia;
  font-style: italic;
  background: linear-gradient(45deg, #3897f0, #8e44ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input, select {
  width: 93%;
  padding: 12px;
  margin: 4px 0;
  border: 1px solid #333;
  background: #111;
  color: #fff;
  border-radius: 0; /* Sharp edges */
  outline: none;
}

input::placeholder {
  color: #aaa;
}

.btn {
  width: 100%;
  background: blue;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px; /* Sharp edges */
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.btn:hover {
  background: #2980b9;
}

.divider {
  margin: 20px 0;
  position: relative;
  font-size: 14px;
  color: #999;
}

.divider span {
  background: #111;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #333;
  z-index: 0;
}

.login-link {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #666;
}

p {
    color: #fff;
}

.login-link {
    color: #3897f0;
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.login-container:hover {
  border: 2px solid red; 
  transition: all 0.3s ease;
}

.login-container:hover input {
  border: 2px solid red; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #111 inset !important; 
  -webkit-text-fill-color: white !important; 
  transition: background-color 5000s ease-in-out 0s; 
}